@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flip-x {
    transform: scaleX(-1);
  }
}

@layer components {
  .custom-sidebar {
    @apply relative top-0 left-0 mr-1vw bg-gradient-to-b from-mocha via-caramel-gold to-cream text-vanilla-white transform transition-all duration-1000 ease-in-out z-10;
    padding: 1.94vw 2.43vw;
  }

  .custom-sidebar-open {
    width: 18.3vw;
  }

  .custom-logo-container {
    @apply text-center font-bold mb-2.5vw;
    font-size: 1.81vw;
  }

  .custom-ul {
    @apply relative flex flex-col;
    gap: 1.67vw;
  }

  .custom-list-element {
    @apply relative flex flex-row gap-1vw hover:bg-gray-700 rounded cursor-pointer;
    font-size: 1.11vw;
  }

  .custom-list-element {
    @apply relative w-1.5vw h-1.5vw;
  }

  .custom-toggle-button {
    @apply absolute w-2vw h-2vw top-1/2 z-50 transform transition-all duration-1000 ease-in-out;
  }

  .custom-button-icon {
    @apply relative w-full h-full bg-caramel-gold border-2 border-mocha rounded-lg transform transition-all duration-1000 ease-in-out;
  }
}