@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3vw;
    height: 3vw;
    border: 0.25vw solid #3b82f6;
    border-top: 0.25vw solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1000;
  }
}